@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Roboto&display=swap');

* {
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

/****** HEADER + HEADINGS ******/

header {
  height: 80vh;
}

h1,
h2 {
  text-align: center;
  font-family: 'Bebas Neue', cursive;
  color: #f5efff;
}

h2 {
  position: relative;
  top: 6vh;
}

p {
  font-family: 'Roboto', sans-serif;
  text-align: center;
  color: #010128;
}

.namePun {
  color: #a594f9;
}

/****** NAV ******/

nav {
  position: sticky;
  top: 0;
  z-index: 2;
}

nav ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  font-family: 'Bebas Neue', cursive;
  background-color: #7371fc;
}

nav ul li {
  display: inline-block;
  text-align: center;
  width: 33%;
  padding: 0.5% 0;
}

nav ul a,
nav ul a:visited {
  text-decoration: none;
  font-size: 1.25em;
  color: #cdc1ff;
}

nav ul a:hover {
  color: #f5efff;
}

/****** MAIN ******/

main {
  height: 100vh;
}

/****** ABOUT ******/

section {
  height: 100vh;
}
